

.mtm.scalable > div {
  width: auto !important;
  height: auto !important;
}
.mtm.scalable > div a[rel="theater"] img:not([src*="fallback=news_d_placeholder_publisher_square"])
{
  width: auto !important;
  height: 50vh !important;
  top: 0 !important;
  padding-right: 4px;

}

.mtm.scalable > div a[rel="theater"] video {
  width: 0 !important;
  height: 0 !important;
  top: 0 !important;
  padding-right: 4px;
}

.mtm.scalable > div a[rel="theater"] {
  position: relative !important;
  width: auto !important;
  height: 50vh !important;
  top: initial !important;
  left: initial !important;
  display: table-cell;
}

/* pdf preview = _50zm */
.mtm.scalable > div div[style*="height:"][style*="width:"] {
  position: initial;
  width: auto !important;
  height: auto !important;
  margin-left: 0 !important;
}
.mtm.scalable > div div[style*="height:"][style*="width:"] video ~ * img {
  width: auto !important;
  height: 50vh !important;
  top: 0 !important;
  padding-right: 4px;
}
.mtm.scalable > div div[style*="height:"][style*="width:"] video ~ i {
    margin-top: calc((50vh - 72px) / 2);
    margin-left: calc((50vh - 72px) / 2);
    width: 72px !important;
    height: 72px !important;
    padding: calc(72px / 2);
}

.mtm.scalable > div {
  /*
  display: flex;
  */
  overflow: scroll;
}
/* for event */
.mtm.scalable > div:not([style]):not([class]) {
  display: initial !important;
  overflow: initial !important;
}

/* for location */
.mtm.scalable a[ajaxify*="/places/map"] img {
  width: 100% !important;
  height: auto !important;
}

.mtm.scalable > div .scaledImageFitHeight.img {
  width: auto !important;
  height: 50vh !important;
  top: initial !important;
  left: initial !important;
}

/* image of shared link */
.mtm.scalable > div a[data-lynx-mode] img.scaledImageFitWidth.img {
  height: 25vh !important;
  width: auto !important;
}


#group_photoset table {
  display: inline-block;
}
#group_photoset table tr {
  display: inline-block;
  margin-right: 5px;
}
#group_photoset table td.itemsPlutoniumRedesign {
  display: inline-block;
}
